<!DOCTYPE html>
<html>
<head>
  <title>Mergehook</title>
  <link href='http://fonts.googleapis.com/css?family=Inder' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if user_signed_in? %>
    <%= link_to(current_user.github_nickname, edit_user_path(current_user)) %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% end %>

  <p><%= flash[:alert] %></p>
  <p><%= flash[:notice] %></p>

  <%= yield %>

  <%= javascript_include_tag "application" %>
</body>
</html>
